<h2>Admin Auth</h2>
<small><a href="/auth">via Password</a></small>
<strong>via OpenID</strong>
<form method="post" accept-charset="UTF-8" action='/auth/openid'>
  <input type="text" name="openid_identifier" 
    style="background: url(http://openid.net/images/login-bg.gif) no-repeat #FFF 5px;" />    
      <input type="submit" value="Login" />
</form>
<script type="text/javascript">document.forms[0].openid_identifier.focus()</script>
