<form action="/posts" method="post" name="edit">
<div class="postzoom">
	<h2 class="title"><input type="text" name="title" value="" /></h2>
	<p class="meta"><input type="text" name="tags" value="" /></p>
	<p class="meta"></p>
	<div class="entry">
		<textarea name="body"></textarea>
	</div>
	<div class="edit"><input type="submit" value="Save" /></div>
</div>
</form>
